{% extends "base.html" %}
{% block title %}{{ post.title }} - {{ site_name }}{% endblock %}
{% block content %}
<article class="container section blog-detail">
  <a href="/blog" class="back-link"><i class="fa-solid fa-arrow-left"></i> Volver al blog</a>
  <span class="chip chip-soft">{{ post.category }}</span>
  <h1>{{ post.title }}</h1>
  <p class="muted">{{ post.author }} &middot; {{ post.publish_date.strftime('%d %b %Y') }} &middot; {{ post.read_time_min }} min lectura</p>
  {% if post.cover_image %}<img src="{{ post.cover_image }}" alt="{{ post.title }}" class="blog-cover">{% endif %}
  <div class="blog-content">
    <div class="post-body">{{ post.content | safe }}</div>
  </div>
</article>
{% endblock %}
